<%= render 'layouts/shared/main_header' %>
<!-- Post Content-->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= @post.body.html_safe %>
      </div>
    </div>
    <hr /> 
    <% unless @post_preview %>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div id="comment-form">
            <%= render partial: 'comments/form', locals: { comment: Comment.new(post: @post) } %>
          </div>
          <div id="comments-list" >
            <% if @post.comments.any? %>
              <%= render partial: 'comments/index', locals: { comments: @commnents } %>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'Back', posts_path %>
      <% if policy(@post).edit? %>
        | <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>
      <% if policy(@post).destroy? %>
        | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</article>
<hr />


